{{ partial "header.html" . }}

<div class="post">
  <h1 class="post-title">{{ .Title }}</h1>
  <span class="post-date">{{ .Date.Format .Site.Params.DateForm }}</span>
	<noscript><p class="notice">注意: このページの検索機能に JavaScript を使用しています。</p></noscript>
  {{ .Content }}
</div>

      </div><!-- wrap -->
    </div><!-- container content -->

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">  
<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/datatables-fix.js"></script>
<link rel="stylesheet" type="text/css" href="/css/datatables-fix.css">
<script src="/assets/js/jquery.get-word-by-event.js"></script>
{{ partial "js.html" . }}

  </body>
</html>