{{ if in .Params.categories "Anki2の使い方" }}{{ if ne .RelPermalink "/how-to-anki/" }}
<section id="連載_ankiの使い方_覚えるために忘れろ">
  <div class="page-header">
    <h2>連載: Ankiの使い方 〜覚えるために忘れろ〜</h2>
  </div>
<ol>
<li>
<a href="/how-to-anki/">はじめてのAnki – まず使ってみる</a>(インストール、問題入力、学習の流れ)
</li>
<li>
<a href="/how-to-import/">Ankiにデータをまとめて取り込む</a>(テキストデータの一括登録)
</li>
<li>
<a href="/how-to-use-shared-resources/">Ankiの共有リソースを使ってみる</a>(アドオン、共有単語帳)
</li>
<li>
<a href="/how-to-edit-cards/">Ankiのカード表示を編集する</a>(カード編集、外部リンク設定、読み上げ)
</li>
<li>
<a href="/browser-overview/">Ankiのブラウザーの使い方とデータ検索</a>(ブラウザー、検索条件)
</li>
<li>
<a href="/how-to-customize-learning/">フィルター単語帳でAnki学習をカスタマイズしよう </a>(カスタム学習、フィルター単語帳、独自の学習条件を設定)
</li>
<li>
<a href="/reduce-anki-backlog-with-stats/">Anki統計情報を活用したバックログ解消法</a>(統計情報の見方、たまった復習カードの解決法)
</li>
<li>
<a href="/how-to-share-anki-decks/">Anki単語帳を共有する方法</a>(単語帳の書き出し、AnkiWebへの共有)
</li>
<li>
<a href="/index-how-to-anki/">はじめてAnkiを使う人のための索引</a>(連載内容の索引)
</li>
</ol>
</section>
{{ end }}{{ end }}{{ if in .Params.categories "Art of Anki" }}
<section id="連載_art_of_anki_熟練ユーザー限定の使いこなし方">
  <div class="page-header">
    <h2>連載: Art of Anki - 熟練ユーザー限定の使いこなし方</h2>
  </div>
<p>Anki になれてないと気がつかない、単なる機能の呼び出し方を超えた Anki の使いこなし方を取り上げます。</p>
<ol>
<li>
<a href="/how-to-make-anki-decks-sustainable/">長続きする Anki 単語帳の作り方</a> (学習セッション最適化)
</li>
<li>
<a href="/cutting-up-your-anki-backlog/">ためた Anki 復習カードをスライスして消化</a> (学習中断からの復帰法)
</li>
<li>
<a href="/bias-free-anki-learning/">もっと Anki に集中する使い方</a> (学習に集中するためのインターフェイス設定)
</li>
<li>
<a href="/anki-learning-with-shared-decks/">Anki 共有単語帳の学び方</a> (教材の全体像理解と既成教材の使い方)
</li>
<li>
<a href="/anki-mastery-calls-for-iphone/">Anki になれた方に iPhone をすすめたい理由</a> (Anki の限界を超越する iPhone アプリの位置付け)
</li>
<li>
<a href="/anki-basics/">Anki 使いの原点</a> (Anki の基本的な使い方)
</li>
<li>
<a href="/anki-lapse-management/">忘れた Anki カードの出直し方</a> (学習履歴を忘却したカードの復習間隔に反映する)
</li>
<li>
<a href="/anki-stats-due-forcast/">Anki 復習予測の読み方</a> (マニュアルとは違った視点からの解説)
</li>
<li>
<a href="/long-interval-management/">復習が進んだカードの手入れ</a> (復習間隔が大きくなったカードの保守)
</li>
</ol>
</section>
{{ end }}